checkpoints/
datasets_s3d/
wandb/
datasets_s3d
**/__pycache__/
*.py[cod]
datasets_s3d_metadata/
datasets_gibson/
datasets_gibson
logs/
logs*/
eval/logs/
eval/logs*/
eval/eval_history*.txt
.vscode/
.pytest_cache/
*.ckpt
*.pth
